<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01</title>
</head>
<body>
    <h4><a href="index.html">Back main</a></h4>
    <div id="app">
        <h1>{{ message }}</h1>
        <input type="text" v-model="message">
        <pre>{{ $data | json }}</pre>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                message: "Hello world"
            }
        })
    </script>
</body>
</html>