<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02</title>
    <style>
        .strike {
            text-decoration: line-through;
            color: #aaa;
        }
    </style>
</head>
<body>
    <h4><a href="index.html">Back main</a></h4>
    <div id="app">
        <ul>
            <li v-for="bear in bears" :class="{ 'strike': bear.status }">{{ bear.name }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                bears: [
                    {
                        name: 'гризли',
                        status: false
                    },
                    {
                        name: 'белый',
                        status: true
                    },
                    {
                        name: 'панда',
                        status: false
                    }
                ]
            }
        })
    </script>
</body>
</html>