<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>04</title>
    <style>
        aside {
            position: fixed;
            top: 100px;
            left: 0;
            bottom: 0;
            width: 250px;
            background-color: aqua;
        }
        .slide-enter-active,
        .slide-leave-active {
            transition: all .3s cubic-bezier(.65, .05, .36, 1);
        }
        .slide-enter,
        .slide-leave-active {
            left: -100%;
        }
    </style>
</head>
<body>
    <h4><a href="index.html">Back main</a></h4>
    <div id="app">
        <button @click="changeBox">{{textBtn}}</button>
        <transition name="slide">
            <aside v-show="show"></aside>
        </transition>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                show: true,
                textBtn: 'Скрыть'
            },
            methods: {
                changeBox: function () {
                    this.show = !this.show;
                    if (this.show) {
                        this.textBtn = 'Скрыть'
                    } else {
                        this.textBtn = 'Показать'
                    }
                }
            }
        })
    </script>
</body>
</html>