<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>05</title>
    <style>
        aside {
            position: fixed;
            top: 100px;
            left: 0;
            bottom: 0;
            width: 250px;
            background-color: aqua;
        }
        .slide-enter-active,
        .slide-leave-active {
            transition: all .3s cubic-bezier(.65, .05, .36, 1);
        }
        .slide-enter,
        .slide-leave-active {
            left: -100%;
        }
    </style>
</head>
<body>
    <h4><a href="index.html">Back main</a></h4>
    <div id="app">
        <ul>
            <li v-for="item">{{item.name}}, {{item.age}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                array: [
                    {
                        name: 'Peter',
                        age: '25'
                    },
                    {
                        name: 'Nike',
                        age: '28'
                    },
                    {
                        name: 'Mike',
                        age: '27'
                    },
                ]
            },
            methods: {

            }
        })
    </script>

    <script type="text/javascript" src="output/bundle.js"></script>
</body>
</html>